$bar-width: 3rem;
$bar-height: 0.5rem;
$bar-spacing: 1rem;
$visible: rgba(0, 0, 0, 1);
$transparent: rgba(0, 0, 0, 0);
$top-margin: 1.5rem;
$right-margin: 2rem;
$border-width: 0.1rem;
$surrounding-border: $border-width solid $grey-darker;

// TODO: include focus for the sake of accessibility
.sidebar-toggle__wrapper {
    border: none;
    margin-top: $top-margin;
    margin-right: $right-margin;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
    &:hover {
        background: $grey-light;
        transition: all 0.5s ease;
        outline: $surrounding-border;
    }
    &:focus {
        outline: $surrounding-border;
    }
    transition: all 0.5s ease;
}

.animated-menu-icon,
.animated-menu-icon:after,
.animated-menu-icon:before {
    width: $bar-width;
    height: $bar-height;
}

.animated-menu-icon {
    // position: relative;
    transform: translateY($bar-spacing);
    background: $visible;
    transition: all 0ms 300ms;

    &.cross {
        background: $transparent; 
    }
}

.animated-menu-icon:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: $visible;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-menu-icon:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: $visible;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-menu-icon.cross:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.animated-menu-icon.cross:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
