@import "../base/_colors.scss";

// Common button bar styling parameters
$bar-width: 3rem;
$bar-height: 0.5rem;
$bar-spacing: 1rem;
$colorVisible: $black;
$colorHighlight: $grey-light;

// Animation params
// aXXXX 'a' prefix represents (a)nimation or transtion values
$aFunc: cubic-bezier(0.23, 1, 0.32, 1); 
$aTime: 400ms;
$colorTime: 800ms;
$colorTrans: background-color $colorTime ease;
$opacityTrans: $colorTrans, opacity $aTime $aFunc;
$topBurgerTrans: $colorTrans, transform $aTime $aFunc, top     $aTime $aFunc $aTime;
$botBurgerTrans: $colorTrans, transform $aTime $aFunc, bottom  $aTime $aFunc $aTime;
$topCrossTrans: $colorTrans, top    $aTime $aFunc, transform $aTime $aTime $aFunc;
$botCrossTrans: $colorTrans, bottom $aTime $aFunc, transform $aTime $aTime $aFunc;

// Hamburger mode
.site-menu-button__bar {
    background: $colorVisible;
    width: $bar-width;
    height: $bar-height;
    position: absolute;
    // transition: background-color $aTime ease;

    &-top--hamburger {
        top: 0;
        background: $colorVisible;
        transition: $topBurgerTrans;
    }
    &-top--cross {
        top: $bar-spacing;
        transform: rotate(-45deg);
        transition: $topCrossTrans;
    }

    &-mid--hamburger {
        top: $bar-spacing;
        opacity: 1;
        transition: $opacityTrans;
    }
    &-mid--cross {
        top: $bar-spacing;
        opacity: 0;
        transition: $opacityTrans;
    }

    &-bot--hamburger {
        bottom: 0;
        background: $colorVisible;
        transition: $botBurgerTrans;
    }
    &-bot--cross {
        bottom: $bar-spacing;
        transform: rotate(45deg);
        transition: $botCrossTrans;
    }

    &--highlight {
        background: $colorHighlight;
    }
}

// TODO: Find better way to manage focus
.site-menu__button-wrapper {
    position: relative;
    border: none;
    // margin-top: $top-margin;
    // margin-right: $right-margin;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
    // &:hover {
    //     background: $grey-light;
    //     transition: all 0.5s ease;
    //     // outline: $surrounding-border;
    //     border: none;
    // }
    &:focus {
        // outline: $surrounding-border;
        outline: none;
    }
    transition: all 0.5s ease;
}