@import "../base/_colors.scss";

$margin-size: 1rem;

.page-content__wrapper {
    margin: 12px;
}

.page-content__wrapper--horizontal {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    // margin: $margin-size;
    width: 100%;
}

.page-content__spacer--horizontal {
    // flex-grow: 1;
    // flex-shrink: 1000;
    // flex: 0 0 100%;
    min-width: 8px;
}

// TODO alot of these are going to be uneccessary trim them in release 2
// TODO there's no need for another wrapper class since the sidebar...
//      ...will be another component taking space within the same flux row
.page-content__wrapper--vertical {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // height: calc(100vh  - 2 * $margin-size);
    height: 100vh;
    justify-content: flex-start;
    min-height: 100%;
    // overflow: visible;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
}
