// @import "../../styles/main.scss";

.header__container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    marginBottom: 1.6rem;
}

// .header__title {
//     @extend .title;
//
// }
