// @import "../../styles/main.scss";
@import "../base/_colors.scss";

.header__container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    marginBottom: 1.6rem;

}

// this class replaces the above when mobile size breakpoint is reached
.header__container--mobile {
    @extend .header__container;
    background: $background-mobile;
}

// .header__title {
//     @extend .title;
//
// }
