// @import '~bulma/bulma';
// @import '~bulma-extensions/extensions';

// Initial Variables
@import "bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// inital work, doesn't function, fix, use these as guides
// http://bit.ly/2L3YYyO
// http://bit.ly/2L1bNdg
$blue: #72d0eb;
$pink: #ffb3b3;

$primary: $pink;
$primary-invert: $pink-invert;
$danger: $orange;

//TODO: Include font family definitions

// Add to the color map
@import '~bulma/sass/utilities/derived-variables';
$addColors: (
    "link-color": ($primary, $primary-invert),
);
$colors: map-merge($colors, $addColors);

@import '~bulma';
