// @import '~bulma/bulma';
// @import '~bulma-extensions/extensions';

// Initial Variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// inital work, doesn't function, fix, use these as guides
// http://bit.ly/2L3YYyO
// http://bit.ly/2L1bNdg

// Sizing
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;


// Size - Typography
$is-size-1: 3rem;
$is-size-2: 2.5rem;
$is-size-3: 2rem;
$is-size-4: 1.5rem;
$is-size-5: 1.25rem;
$is-size-6: 1rem;
$is-size-7: 0.75rem;


// Redefine initial color values provided by bulma
$red: #ff5252;
$orange: #ff793f;
$yellow: #ffb142;
$green: #33d9b2;
$blue: #34ace0;
$purple: #40407a;

// Add my own color definitions
$red-dark: #b33939;
$orange-dark: #cd6133;
$yellow-dark: #cc8e35;
$green-dark: #218c74;
$blue-dark: #227093;
$purple-dark: #2c2c54;
$lavender: #706fd3;
$lavender-dark: #474787;

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);

// Inversions
$red-invert: findColorInvert($red);
$red-dark-invert: findColorInvert($red-dark);
$orange-invert: findColorInvert($orange);
$orange-dark-invert: findColorInvert($orange-dark);
$yellow-invert: findColorInvert($yellow);
$yellow-dark-invert: findColorInvert($yellow-dark);
$green-invert: findColorInvert($green);
$green-dark-invert: findColorInvert($green-dark);
$blue-invert: findColorInvert($blue);
$blue-dark-invert: findColorInvert($blue-dark);
$purple-invert: findColorInvert($purple);
$purple-dark-invert: findColorInvert($purple-dark);
$lavender-invert: findColorInvert($lavender);
$lavender-dark-invert: findColorInvert($lavender-dark);

// // Color aliases
$primary: $purple;
$primary-invert: $purple-invert;
$info: $blue;
$info-invert: $blue-invert;
$success: $green;
$success-invert: $green-invert;
$warning: $yellow;
$warning-invert: $yellow-invert;
$danger: $red;
$danger-invert: $red-invert;
$light: $white-ter;
$dark: $grey-darker;
$border: $grey-lighter;
$border-hover: $grey-light;
$text: $grey-dark;
$text-invert: findColorInvert($text);
$code: $red;
$code-background: $grey-light;
$pre: $text;
$pre: $grey-light;
$link: $red;
$link-invert: $red-invert;
$link-visited: $orange-dark;
$link-hover: $grey-darker;
$link-hover-border: $grey-light;
$link-focus: $grey-darker;
$link-focus-border: $blue;
$link-active: $grey-darker;
$link-active-border: $grey-dark;
$family-primary: $grey-dark;
$family-primary: $family-sans-serif;
$family-code: $family-monospace;
$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;


// Titles Aliases
$title-color: $grey-darker;
$title-size: $size-3;
$title-weight: $weight-semibold;
$title-strong-color: inherit;
$title-strong-weight: inherit;
$title-line-height: 1.125;
$subtitle-size: $size-5;
$subtitle-weight: $weight-normal;
$subtitle-strong-weight: $weight-semibold;
$subtitle-negative-margin: -1.25rem;

//TODO: Include font family definitions

// Add to the color map
@import '~bulma/sass/utilities/derived-variables';
$addColors: (
    "link-color": ($primary, $primary-invert),
);
$colors: map-merge($colors, $addColors);

@import '~bulma';
