// Compose partial stylesheets
// Start with base sheets
@import "./base/_colors.scss";
@import "./base/_sizes.scss";
@import "./base/_typography.scss";

// Then get the modules
@import "./modules/_links.scss";
@import "./modules/_cards.scss";

// Then get the components
@import "./components/_template-wrapper.scss";
@import "./components/_page-wrapper.scss";
@import "./components/_content-wrapper.scss";
@import "./components/_sidebar.scss";
@import "./components/_animated-menu-icon.scss";
@import "./components/_header.scss";
@import "./components/_nav-menu.scss";
@import "./components/_feed.scss";

// Global resets
html {
    // font-size: 62.5%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
