@import "../../styles/bulma-composed.scss";

.post-preview__card-container {
    @extend .card;
    padding: 0.5rem;
    // border: 1px solid $grey-lighter;
    // box-shadow: 1px 0px 1px 0px $grey-light;
    margin: 24px;
    padding-bottom: 1.8rem;
    // background: $white;
    // border-radius: 6px;
}

.post-preview__header {
    @extend .card-header;
    flex-direction: row;
    justify-content: space-between;
}

.post-preview__title {
    @extend .title;
    margin-top: 0.0rem; // override bulma default of top margin = 2rem
    margin-bottom: 0.25rem;
}

.post-preview__date {
    @extend .subtitle;
    font-size: $size-6;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.post-preview__subtitle {
    @extend .subtitle;
    margin-bottom: 1.0rem;
}

.post-preview__read-link {
    float: right;
    margin-top: 0.0rem;
    margin-bottom: 2rem;
}
