@import "../../styles/bulma-composed.scss";

.sidebar__container {
    @extend .column;
    min-width: 256px;
    flex-grow: 0;
}

.site__title {
    font-size: $is-size-4;
    font-weight: 500;
    color: $white;
}
