@import '../styles/bulma-composed.scss';

.template-wrapper {
    // background: $background-color;
    // overflow: auto;
    background: $black;
    display: flex;
    flex-direction: row;
    // margin: 12px;
}

// Top spacer div used to move content down to move whole content when reveal menu
.template-wrapper__top-spacer {
    // smaller bit of the golden ratio
    // height: (1 - (1vh / 1.62vh)) * 100vh;
}
